#!/bin/sh
# this file is part of provnas
# Copyright (c) 2015, Keve Mueller
# All rights reserved.
# see LICENSE for details

# PROVIDE: musicbrainz
# REQUIRE: LOGIN
# BEFORE:  cron

#
# Add the following lines to /etc/rc.conf to enable the webapp:
# musicbrainz_enable (bool):      Set to "NO" by default.
#                               Set it to "YES" to enable 
# musicbrainz_port (int):		TCP Port to start the server on. Default to 5000.
#

. /etc/rc.subr

name="musicbrainz"
rcvar=`set_rcvar`

[ -z "$musicbrainz_enable"  ] && musicbrainz_enable="NO"
[ -z "$musicbrainz_port"    ] && musicbrainz_port="5000"

musicbrainz_chdir="{{ mb_dest }}"
musicbrainz_app="app.psgi"

command="/usr/local/bin/plackup"
# --daemonize seems to not work
command_args=" --port $musicbrainz_port --env production --access-log /var/log/musicbrainz.access.log -Ilib $musicbrainz_app &"

load_rc_config $name
run_rc_command "$1"
